#content {
	border-top: 1.8em solid #171F5E;
}
#content li {
	list-style-type: none;
}
#content ul ul li:first-child {
	margin-top: 0.8em;
}
#content ul ul{
	text-align: none;
	width: 14%;
	background-color: #ccc;
	border-bottom: 3px solid #171F5E;
}
#content ul ul li a{
	text-decoration: none;
	color: black;
}

#content ul {
	font-weight: bold;
	color: white;
	margin-top: -1.5em;
}
#content ul ul{
	display: none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: -75px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: -20px;
}
#content ul li:hover > div > ul {
	display: block;
}
#content ul li a:hover{
	border-top: 2px solid #444;
}
#content ul li a:hover{
	color: green;
}