#content{
	margin: 0 auto;
	width: 80%;
	padding: 2em;
	border: .2em dotted #A5A7EF;

	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
}

#content p{
	width: 50%;

}


#content p a{
	width: 50%;
}
#content p span{
	
	float: left;
	font-size: 1em;
	width: 50%;
}
.name{
	padding-left: 27%;
}
#content p a img{
	width: 5em;
	height: 4em;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
	display: inline;
	position: block;
}

