/*       
	Theme Name: BTS Theme       
	Theme URI: http://www.misite.cl       
	Description: descripcion del tema       
	Version: 1       
	Author: auto       
	Author URI: direccion web autor         

*/
/*
Reset css for the makeup
*/
body{
	margin: 0;
	background: white;
}


/*Header css*/
#header{
	width: 80%;
	margin:  0 auto;
	padding: 1em;
	
	
	
}
#logo-content{
	margin:  0 auto;
	width: 100%;
	display: inline;
	clear: both;
	display: block;
}

#navegation{
	float: left;
	margin-left: 15em;
	margin-top: 1.5em;


	
}
#navegation ul li {
	display: inline;
	list-style: none;
	margin-left: 1em;
	color:black;

}
#navegation ul li a{
	text-decoration: none;
	color: inherit;
	font-size: 1em;

}


#logo {
	width: 19em;
	height: 4em;
	margin-left: 5em;
	float: left;
	
}


/*
End header
*/




/*
This section is footer
*/

#footer{
	background: #ececec;
	height: 13em;
	clear: both;
	font-size: 0.7em;
	width: 100%;
	min-width: 1000px;
}
#one{
	width: 15%;
	float: left;
	padding-right: 20px;
	padding-top: 5px;
	padding-left: 10px;
}
#one1{
	width: 100%;
	min-width: 9em;
}
#two{
	float: left;
	width: 20%;
	min-width: 9em;
}

#two img{
	float: left;
	padding-top: 10px;
	/*padding-right: 1em;
	padding-top: 1em;*/
	width: 90%;
}

#three {
	width: 12%;
	padding-top: 5px;
	float: left;
}
#three h4 {
	padding-left: 10px;
}
#img1 , #img2{
	min-width: 4em;
	width: 100%;
}

#img1 img{
	width: 30%;
	padding-left: 10px;
	padding-bottom: 10px;
}
#img2 img{
	width: 30%;
	padding-left: 10px;
	padding-bottom: 10px;
}

#four{
	padding-top: 5px;
	float: left;
	height: 97%;
	width: 15%;
}

#four h4 {
	padding-left: 30px;
}
#four li{
	list-style: none;
	padding-top: 10px;
}

#five{
	width: 30%;
	float: left;
	padding-left: 30px;
	padding-top: 5px;
}

#total{
	line-height: 0.5em;
	height: inherit;
	width: 1000px;
	margin: 0 auto;
}